#!/usr/bin/env bash
#
# Full clone example
# This is main aggregate task for crontab

#set -eo pipefail

CWD="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

source "${CWD}/lib/lib.sh"

${CWD}/clone_db_from_dump/clone_db_from_dump.sh || exit 1 # & to run it in parallel
${CWD}/noodoo_task/noodoo_task.sh
${CWD}/clone_db/clone_db.sh -c ${CWD}/clone_db/calc.conf
${CWD}/clone_db/clone_db.sh -c ${CWD}/clone_db/flex.conf
/usr/local/bin/sphinx_reindex
${CWD}/sync_dirs/sync_dirs.sh
log::ok 'All clone operations are done!'